.container {
  width: 100%;
  height: 100%;
  background-color: grey;
  box-sizing: border-box;
  position: relative;
}

.info {
  padding: 8px;
}

.result {
  padding: 8px;
  overflow: auto;
}

.result pre {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
}
